* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background: #f0eff6;
}


.menu {
    height: 70px;
}


.carousel {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 20px;
}

.titulo_main {
    text-align: center;
    margin: 20px 0 0;
    line-height: 2em;
    border-bottom: 5px solid #8615ac;
    margin-bottom: .5em;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card {
    margin: 10px;
}

.fecha {
    color: #868686;
    font-size: 15px;
}

.card .card-body .card-text {
    margin-bottom: 10px;
    height: 5em;
}

.titulo-seccion {
    height: 40px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;
}


.redes_sociales {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.titulo_aside {
    border-bottom: 5px solid #1533ac;
    padding-bottom: 10px;
}

.youtube {
    display: inline-block;
    padding: 30px 45px 30px 45px;
    border-radius: 5px;
    border: 2px solid #000;
}

.youtube:hover .youtube-icon {
    display: none;
}

.youtube:hover {
    background: red;
    border: none;
}

.youtube2-icon {
    display: none;
}

.youtube:hover .youtube2-icon {
    display: inline-block;
}

.instagram {
    display: inline-block;
    padding: 30px 45px 30px 45px;
    border-radius: 5px;
    border: 2px solid #000;
}

.instagram:hover {
    background: linear-gradient(45deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d);
            border: none;
}

.instagram2-icon {
    display: none;
}


.instagram:hover .instagram-icon {
    display: none;
    border: none;
}

.instagram:hover .instagram2-icon {
    display: inline-block;
    border: none;
}




.resumen {
    margin-bottom: 40px;
    padding: 20px;
}

.resumen h3 {
    border-bottom: 5px solid #8615ac;
    padding-bottom: .5em;
}