* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1dfdf !important;
}

.navbar {
    background: #f0eff6;
}


.menu {
    height: 70px;
}


.carousel {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.titulo_main {
    margin: 20px 0 0;
    line-height: 2em;
    border-bottom: 5px solid #8615ac;
    margin-bottom: .5em;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.card {
    margin: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
  }

.fecha {
    color: #868686;
    font-size: 15px;
}

.card .card-body .card-text {
    margin-bottom: 10px;
    height: 5em;
}

.titulo-seccion {
    height: 40px;
    margin-top: 45px;
    margin-bottom: 50px;
}


.redes_sociales {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.titulo_aside {
    border-bottom: 5px solid #00b953;
    padding-bottom: 21px;
}

.youtube {
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    border: 2px solid #000;
}

.youtube:hover .youtube-icon {
    display: none;
}

.youtube:hover {
    background: red;
    border: none;
}

.youtube2-icon {
    display: none;
}

.youtube:hover .youtube2-icon {
    display: inline-block;
}

.instagram {
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border-radius: 5px;
    border: 2px solid #000;
}

.instagram:hover {
    background: linear-gradient(45deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d);
    border: none;
}

.instagram2-icon {
    display: none;
}


.instagram:hover .instagram-icon {
    display: none;
    border: none;
}

.instagram:hover .instagram2-icon {
    display: inline-block;
    border: none;
}



.aside_input {
    background: #101843;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.aside_input span {
    margin-bottom: 20px;
    font-size: 20px;
}

.aside_input input {
    height: 30px;
    font-size: 20px;
}

.boton-aside {
    padding: 5px 20px 5px;
    margin: 20px;
    border-radius: 5px;
    background: #02c966;
    color: #ffffff;
    border: none;
}

.aside_input input::placeholder {
    text-align: center;
    border-radius: 5px;
}


.resumen {
    padding: 20px;
}

.resumen h3 {
    border-bottom: 5px solid #8615ac;
    padding-bottom: .5em;
}

/* <!----------------------------------- Footer ---------------------------------------> */
.ad {
    margin-bottom: 30px;
}


.links {
    list-style: none;
    display: flex;
    justify-content: center;
    background: #000;
    padding: 20px;
}

.links li a {
    text-decoration: none;
    color: #ffffff;
    margin: 30px;
    font-size: 20px;
}


.infoCopy {
    text-align: center;
}

.copy {
    font-weight: 300;
    font-size: 25px;
    color: #ffffff;
}





/* <!----------------------------------- MediaQueryes ---------------------------------------> */


@media screen and (max-width: 400px) {
    .titulo_main {
        margin-top: 0px;
    }


}